POSTGRES_USER=postgres # Имя пользователя для PostgreSQL
POSTGRES_PASSWORD=... # Пароль для подключения к БД
POSTGRES_DB=ai_shopping_analyzer # Название БД

# URL БД:
DATABASE_URL=postgresql+psycopg://postgres/postgres@localhost:5433/ai_shopping_analyzer

# URL Redis:
REDIS_URL=redis://localhost:6379
# Сколько будут храниться ключи в Redis (сессии пользователей, в секундах)
SESSION_TTL_SECONDS=604800 # 7 дней
# Передавать Cookie только по https:
COOKIE_SECURE=false
